@{
    ViewData["Title"] = "PVZ-Bad-View";
}

<div class="dright col-md-9 col-lg-9 col-sm-6">
    <button class="btn btn-warning" onclick="hih()">
        ???
    </button>
</div>

<script>
    function hih()
    {
        console.log("HHIHIHI");
    }
</script>